<!doctype html>
<html ng-app = "app">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Drug Wars</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="author" href="humans.txt">
        <link rel="stylesheet" type="text/css" href="css/drugwars.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.countdownTimer.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="js/jquery.countdownTimer.js"></script>
         <script src="js/drugAngular.js"></script>
    </head>
    <body ng-controller = "moneyCtrl">
        <div class="container-fluid">
          <div class="top">
          <div class="row">
            <div class="col-md-3">
            <div id="travelTimer" ng-show = "travelTimer"><h4> You have <span> {{secondsTravelExpire}}</span> seconds until you can travel. </h4> </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h1>Welcome to Drug Wars</h1>
            </div>
            <div class="col-md-2 col-md-offset-2">
              <div id="moneyTotal"> <h4> You have <span>{{money.total}}</span> dollars. </h4>
                </div>
            </div>
            </div>
          </div>
          <div class = "main" ng-model = "Main" ng-show= "Main" ng-class = "classWoo">
          <div class="row">
            <div class="col-md-2">
              <div class="side">
                <div id="crimes" class = "buttons" ng-click="Crime = !Crime; Main = !Main; Return = !Return" > <h3>Crime</h3> </div>
                <div id="travel" class = "buttons" ng-click = "travel = !travel; Main = !Main; Return = !Return"> <h3>Travel</h3> </div>
                <div id="trade" class = "buttons" ng-click = "trade(classWoo); Trade"> <h3> Trade</h3> </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="travelNotice">
                
              </div>
            </div>
            </div>
          </div>
          <div class="contain" ng-model = "Crime">
          <div class='crimes' ng-show = "Crime">
          <div class='row'>
            <div class='col-md-2 col-md-offset-3'>
              <button id = 'petty' class = 'radAnswer' ng-click = "petty()"> Steal and pawn the bike. </button>
              <button id = 'middle' class = 'radAnswer1' ng-click = "middle()"> Steal the car. </button>
              <button id = 'high' class = 'radAnswer1' ng-click = "high()"> Sounds like free money to me... </button> 
              <button id= 'most' class = 'radAnswer3' ng-click = "most()"> Go time.</button>
            </div>
            <div class='col-md-6'>
              <div class = 'crime'> 
                <h3>There's a 12 year old paper boy riding up the street. With a good looking bike.. Steal then pawn off his bike. </h3> 
              </div>
              <div class = 'crime'> 
                <h3>Fancy car at the end of the block.. steal it.</h3>
              </div>
              <div class = 'crime'>
                <h3>There's an armored car at the end of the block. The driver is eating his 4th donut. Sounds like free money to me...</h3>
              </div>
              <div class = 'crime'> 
                <h3> Let's rob a bank.</h3> 
              </div>
            </div>
          </div>
        </div>
        <div class='crimeResult'>
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <div ng-model= "pettyWins" ng-show= "pettyWins"> <p> You were succesful in your endevour. You earned  {{win}}  dollars! You now have {{money.total}}  dollars to spend! </p></div>
            </div>
          </div>
        </div>
      
        <div class="jail" ng-model = "jail" ng-show= "jail">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <h3> Your crime failed. You're imprisoned. Sorry.</h3>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"> Get out of jail. </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <h5> You have <span ng-bind = "secondsBeforeExpire"></span> seconds until you are out of jail.</h5> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> Slip your jailer some cash and get out of jail.</button>
          </div>
          <div class="bribeResult"> <h3 ng-show = "bribeNo"> You do not have enough money to bribe that respectable gentleman</h3>
          </div>
          </div>
        </div>
        </div>
        </div>

        <div class='containTravel' ng-show = "travel">
          <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                <h3 class='cities'> Tokyo</h3>
                <h3 class='cities'> London</h3>
                <h3 class='cities'> Los Angeles</h3>
                <h3 class='cities'> New York</h3>
              </div>
          </div>
            <div class='col-md-2'>
              <button class = 'travelBtn' id='tokyo' ng-click = "changeClassTokyo()" ng-disabled= "secondsTravelExpire > 0"> Travel Here</button> <br>
              <button class = 'travelBtn' id='london' ng-click = "changeClassLondon()" ng-disabled= "secondsTravelExpire > 0"> Travel Here</button><br>
              <button class = 'travelBtn' id='losAngeles' ng-click = "changeClassLA()" ng-disabled= "secondsTravelExpire > 0"> Travel Here</button><br>
              <button class = 'travelBtn' id='newYork' ng-click = "changeClassNY()" ng-disabled= "secondsTravelExpire > 0"> Travel Here</button><br>
            </div>
          </div>
        </div>
        <div class="tradeContainer" ng-show = "Trade" ng-model = "Main" ng-class = "classWoo">
      <div id="trade" ng-show = "Trade" >
        <table id = 'tokyo' width = '75%' ng-class = "classWoo">
          <tr>
            <td> <p class = "table"> Marijuana </p></td>
            <td> <p class = "table">{{mCost}} </p></td>
            <td> <input type='number'  id = 'mInput' class = 'amount' ng-model = "drugCostm"></td>
            <td><button ng-click = "Buym()" > Buy </button></td>
            <td><button ng-click = "Sellm()" > Sell</button></td>
            <td> <p class = "table">{{drugCountm.drug}} </p></td>
            <td> <p class = "table">{{drugCountm.amount}} </p> </td>
          </tr>
          <tr>
            <td> <p class = "table">Cocaine </p></td>
            <td> <p class = "table">{{cCost}} </p></td>
            <td><input type='number' id = 'cInput' class = 'amount' ng-model = "drugCostc"> </td>
            <td><button ng-click = "Buyc()" > Buy </button></td>
            <td><button ng-click = "Sellc()" ng-disabled = "drugCostc >= drugCountc.total" > Sell</button></td>
            <td> <p class = "table">{{drugCountc.drug}} </p></td>
            <td> <p class = "table">{{drugCountc.amount}}</p> </td>
          </tr>
          <tr>
            <td> <p class = "table"> Heroine </p></td>
            <td><p class = "table">{{hCost}} </p></td>
            <td> <input type='number' id = 'cInput' class = 'amount' ng-model = "drugCosth"></td>
            <td><button ng-click = "Buyh()" > Buy </button></td>
            <td><button ng-click = "Sellh()" > Sell</button></td>
            <td> <p class = "table">{{drugCounth.drug}} </p></td>
            <td> <p class = "table"> {{drugCounth.amount}} </p></td>
          </tr>
          <tr>
            <td> <p class = "table">Ecstacy</p> </td>
            <td> <p class = "table"> {{eCost}} </p></td>
            <td><input type='number' id = 'eInput' class = 'amount' ng-model = "drugCoste"></td>
            <td><button ng-click = "Buye()" > Buy </button></td>
            <td><button ng-click = "Selle()" > Sell</button></td>
            <td> <p class = "table">{{drugCounte.drug}} </p></td>
            <td> <p class = "table">{{drugCounte.amount}} </p></td>
          </tr>
          <tr>
            <td> <p class = "table">Crystal Meth </p></td>
            <td> <p class = "table">{{yCost}} </p></td>
            <td><input type='number' id = 'yInput' class = 'amount' ng-model = "drugCosty"></td>
            <td><button ng-click = "Buyy()" > Buy </button></td>
            <td><button ng-click = "Selly()" > Sell</button></td>
            <td> <p class = "table">{{drugCounty.drug}} </p></td>
            <td> <p class = "table">{{drugCounty.amount}} </p> </td>
          </tr>
        </table>
      <div> 
      </div>
      </div> 
    </div>
        <div class='crimeResult'>
                  
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4" ng-model = "Return" ng-show = "Return">
                      <button id = "return" ng-click = "goBack()"> Back to the main menu?</button>
                    </div>
                  </div>

          </div> 
        </div>
    </body>
</html>