<!doctype html>
<html ng-app = "app">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kitty Wars</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="author" href="humans.txt">
        <link rel="stylesheet" type="text/css" href="css/kittyWars.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
       <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
        <script src="https://cdn.firebase.com/js/simple-login/1.6.4/firebase-simple-login.js"></script>
        
        <script src="js/kittyAngular.js"> </script>
    </head>
    <body ng-controller = "moneyCtrl">
        <div class="container-fluid">
          <div class="openPage" ng-show = "openPage">
            <img src="http://www.wallpapersonview.com/wallpapers/4/animals_beautiful_sweet_great_funny_cute_cat_background-186.jpg" id = "openImage">
            <div class="login" ng-show = "login">
            <div class="row">
              <div class="col-md-5 col-md-offset-7">
                <input class = "loginField" type="email" name="email" placeholder="Email"
                  ng-model= "user.email" ng-required="true">
                 <input class = "loginField" type="password" name="password" placeholder="Password"
                  ng-model="user.password" ng-required="true">
                  <button ng-click = "SignIn()" class = "buttonWoo"> Sign In</button>
                  <button ng-click = "Register()" class = "buttonWoo"> Register</button>

              </div>
            </div>
          </div>

            <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 id = "openTitle"> Kitty Wars</h1>
              
                <div class="col-md-9 col-md-offset-3">
                    <p class = "openSubtitle"> A game of whiskers and wit</p>
                    <h4 class = "openSubtitle"> A game of whiskers and wit</h4>
                </div>
                </div>
            </div>
            <div class="login" ng-show = "signUp">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <input class = "loginField" type="email" name="email" placeholder="Email"
                  ng-model= "user1.email" ng-required="true">
                 <input class = "loginField" type="password" name="password" placeholder="Password"
                  ng-model="user1.password" ng-required="true">
                  <button ng-click = "RegisterAccount()" class = "buttonWoo"> Sign Up</button>
                  <button class="buttonWoo" ng-click = "signInInstead()"> Sign In</button>

              </div>
            </div>
          </div>
          </div>

          <div class="all" ng-show = "All">
          <div class="top">
          <div class="row">
            <div class="col-md-2">
            <div ="travelTimer" ng-show = "travelTimer" class =" travelTimer"><h5 class = "travelTimer1"> You haz <span id = "numberClass"> {{TravelTimerSaved.amount}}</span> seconds until you can travel. </h5> </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
              <div>
                <h1>Welcome to Kitty Wars</h1>
                <h5 class = "subtitle"> {{user.email}} is logged in.</h5>
                  <h3 class = "subtitle" ng-show = "open"> Feel free to travel.</h3>
                  <h3 class = "subtitle" ng-show = "Tokyo">You have traveled to Tabbyhassee</h3>
                  <h3 class = "subtitle" ng-show = "London">You have traveled to Catlanta.</h3>
                  <h3 class = "subtitle" ng-show = "LA"> You have traveled to Meowscow.</h3>
                  <h3 class = "subtitle" ng-show = "NY"> You have traveled to Purrlin.</h3>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
              <div id="moneyTotal"> <h5 class = "travelTimer1"> You haz <span id = "numberClass1">{{moneyFire.total}}</span> cheezburgers. </h5>
                </div>
            </div>
            </div>
          </div>
          <div class = "main" ng-model = "Main" ng-show= "Main" ng-class = "TravelLocation.place">
          <div class="side">
            <div class="row">
              <div class="col-md-2">
                  <button id="crimes" class = "buttons" ng-click="Crime = !Crime; Main = !Main; Return = !Return" ng-disabled = "JailTimer.amount>0"> <h3>Schemes</h3> </button>
                </div>
                  <div class="col-md-8">
                    <div class="jailStuff" ng-show = "JailTimer.amount>0" > <h3> You can continue playing in <span> {{JailTimer.amount}}</span>  seconds</h3>
                  </div>
                
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-2">
                      <button id="travel" class = "buttons" ng-click = "travel = !travel; Main = !Main; Return = !Return" ng-disabled = "JailTimer.amount>0"> <h3>Travel</h3> </button>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-md-2">
                    <button id="trade" class = "buttons" ng-click = "trade(classWoo)" ng-disabled = "JailTimer.amount>0"> <h3> Trade</h3> </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2">
                    <button id="upgrades" class = "buttons" ng-click = "UpgradeSwitch()" ng-disabled = "JailTimer.amount>0"> <h3> Upgrades</h3> </button>
                  </div>
                </div>
            </div>
            </div>
            
          <div class="contain"> 
            <div ng-show = "Crime">
            <img class ="backgroundImg" src="http://ewallpaperhub.com/wp-content/uploads/2014/12/cat-wallpapers-free.jpg"></div>

          <div class="contain" ng-model = "Crime" >

          <div class='crimeStuff' ng-show = "Crime">
          <div class='row'>
            <div class='col-md-5 col-md-offset-2'>
               <div class = 'crime'> 
                <h3> You see a large amount of yarn. In the middle this yarn, you just know there's something valuable inside this yarn, and there are no people around... just the family dog.</h3> 
              </div>
              </div>
              <div class='col-md-2 col-md-offset-1'>
                <button id = 'petty' class = 'radAnswer' ng-click = "petty()" ng-disabled ="crimeSecondsBeforeExpire > 0"> <p>Unravel the yarn to your heart's content and claim your prize! </p></button>
              </div>
              </div>
              <div class='row'>
            <div class='col-md-5 col-md-offset-2'>
             <div class = 'crime'> 
                <h3>The milkman left his door wide opened...</h3>
              </div>
             </div>
              <div class='col-md-2 col-md-offset-1'>
                <button id = 'middle' class = 'radAnswer' ng-click = "middle()" ng-disabled ="crimeSecondsBeforeExpire > 0"> <p>FREE MILK!!!</p> </button>
              </div>
              </div>
              <div class='row'>
            <div class='col-md-5 col-md-offset-2'>
              <div class = 'crime'>
                <h3>You see a plump rat running around outside. It's close to the dog house, but that would fetch a pretty penny. </h3>
              </div>
             </div>

              <div class='col-md-2 col-md-offset-1'>
                <button id = 'high' class = 'radAnswer' ng-click = "high()" ng-disabled ="crimeSecondsBeforeExpire > 0"> <p> I know I'm quick enough.. </p></button> 
              </div>
              </div>
              <div class='row'>
            <div class='col-md-5 col-md-offset-2'>
            <div class = 'crime'> 
                <h3> The neighbor's canary got out and is just sitting on top of the roof. Taking care of it will make you a hero!</h3> 
              </div>
            </div>

              <div class='col-md-2 col-md-offset-1'>
              <button id= 'most' class = 'radAnswer' ng-click = "most()" ng-disabled ="crimeSecondsBeforeExpire > 0"><p> Go time. </p></button>
              </div>
              </div>
              </div>


        <div>
          <div class='row, crimeResult' ng-show= "pettyWins">
            <div class='col-md-4 col-md-offset-4'>
              <div ng-model= "pettyWins" > <p> You were succesful in your endevour. You earned  {{win}}  cheezburgers! You now have {{moneyFire.total}}  cheezburgers to spend! </p></div>
            </div>
          </div>
        </div>
      
        <div class="jail" ng-model = "jail" ng-show= "jail0">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <p ng-show = "pettyFail" class = "failWords"> You were slightly too vigorous in your yarn extraction project. You've tied yourself up. </p>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "JailTimer.amount > 0"> <p> Unravel yourself. </p> </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <p> You have <span>{{JailTimer.amount}}></span> seconds until you are free.</p> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> <p> Tempt the famiily dog with your cheezburgers. Maybe he'll help you.</p></button>
          </div>
          <div class="bribeResult"> <p ng-show = "bribeNo"> You don't have enough cheezburgers for that!</p>
          </div>
          </div>
        </div>
        </div>

        <div class="jail" ng-model = "jail" ng-show= "jail1">
          <img class = "backgroundImg"  src="http://reaganpluscats.com/wp-content/uploads/2013/06/Cat-Caught-Smuggling.jpg">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <p ng-show = "pettyFail1" class = "failWords"> The milkman didn't see you in his car. You're trapped in the milk truck. </p>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"> <p>Get out of the truck on the next delivery. </p> </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <p> You have <span >{{JailTimer.amount}}</span> seconds until you are free.</p> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()">  <p>Bribe the driver for an early reprieve. </p> </button>
          </div>
          <div class="bribeResult"> <p ng-show = "bribeNo"> You don't have enough cheezburgers for that! </p>
          </div>
          </div>
        </div>
        </div>

        <div class="jail" ng-model = "jail" ng-show= "jail2">
           <img class = "backgroundImg"  src="http://reaganpluscats.com/wp-content/uploads/2013/06/Cat-Caught-Smuggling.jpg">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <p ng-show = "pettyFail2" class = "failWords"> The dog house was inhabited by a bulldog. He's got you pinned up to the wall. You're not going anywhere.  </p>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"> <p>Submit to the dog, escape with your skin. </p> </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <p> You have <span >{{JailTimer.amount}}</span> seconds until you are free.</p> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> <p>Try to trade some of your cheezburgers for your hide. </p></button>
          </div>
          <div class="bribeResult"> <p ng-show = "bribeNo"> You don't have enough cheezburgers for that! </p>
          </div>
          </div>
        </div>
        </div>


        <div class="jail" ng-model = "jail" ng-show= "jail3">
           <img class = "backgroundImg"  src="http://reaganpluscats.com/wp-content/uploads/2013/06/Cat-Caught-Smuggling.jpg">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <p ng-show = "pettyFail3" class = "failWords"> Well.. the bird flew away.. as it's a bird. Also, you're trapped on the roof. Probably not going anywhere for a while..  </p>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"><p> Meow loud enough, get help.  </p> </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <p> You have <span >{{JailTimer.amount}}</span> seconds until you are free.</p> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> <p> Bribe the firetruck down the end for help. They look hungry... </p></button>
          </div>
          <div class="bribeResult"> <p ng-show = "bribeNo"> You don't have enough cheezburgers for that! </p>
          </div>
          </div>
        </div>
        </div>

        </div>


        <div class='containTravel' ng-show = "travel">
           <img src="http://roflzoo.com/pics/201111/cardboard-plane-cat.jpg" class = "backgroundImg">
          <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                <h3 class='cities'> Tabbyhassee</h3>
                </div>
                </div>
                <div class='col-md-2'>
              <button class = 'travelBtn' id='tokyo' ng-click = "changeClassTokyo()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button> 
            </div>
            </div>
            <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                 <h3 class='cities'> Catlanta</h3>
                </div>
                </div>
                <div class='col-md-2'>
              <button class = 'travelBtn' id='london' ng-click = "changeClassLondon()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button>
            </div>
            </div>
            <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                 <h3 class='cities'> Meowscow</h3>
              </div>
            </div>
            <div class='col-md-2'>
                <button class = 'travelBtn' id='losAngeles' ng-click = "changeClassLA()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                 <h3 class='cities'> Purrtland</h3>
              </div>
            </div>
            <div class='col-md-2'>
              <button class = 'travelBtn' id='newYork' ng-click = "changeClassNY()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button>
            </div>
          </div>
        </div>

        <div class="tradeContainer" ng-show = "Trade">
          <img class = "backgroundImg" src="https://daveden.files.wordpress.com/2013/02/apple_cat.jpg">
      <div id="trade" ng-show = "Trade" >
        <table id = 'tokyo' width = '100%' class = "upT">
          <tr class = "firstStuff">
            <td> <p class = "table"> Boxes </p></td>
            <td> <p class = "table1">{{mCost}} </p></td>
            <td> <input type='number'  id = 'mInput' class = 'amount' ng-model = "drugCostm"></td>
            <td><button class = 'amount1' ng-click = "Buym()" > Buy </button></td>
            <td><button class = 'amount1' ng-click = "Sellm()" > Sell</button></td>
            <td> <p class = "table2"> You have <span class="classDrug">{{dataM.amount}} </span>{{drugCountM.drug}} </p></td>
          </tr>
          <tr>
            <td> <p class = "table">Catnip </p></td>
            <td> <p class = "table1">{{cCost}} </p></td>
            <td><input type='number' id = 'cInput' class = 'amount' ng-model = "drugCostc"> </td>
            <td><button class = 'amount1' ng-click = "Buyc()" > Buy </button></td>
            <td><button class = 'amount1' ng-click = "Sellc()" ng-disabled = "drugCostc >= drugCountc.total" > Sell</button></td>
            <td> <p class = "table2">You have <span class="classDrug">{{dataCoke.amount}}</span> pounds of {{drugCountc.drug}} </p></td>
          </tr>
          <tr>
            <td> <p class = "table"> Scratching Post </p></td>
            <td><p class = "table1">{{hCost}} </p></td>
            <td> <input type='number' id = 'cInput' class = 'amount' ng-model = "drugCosth"></td>
            <td><button class = 'amount1' ng-click = "Buyh()" > Buy </button></td>
            <td><button class = 'amount1' ng-click = "Sellh()" > Sell</button></td>
            <td> <p class = "table2"> You have <span class="classDrug">{{dataHer.amount}}</span>   {{drugCounth.drug}}s</p></td>
          </tr>
          <tr>
            <td> <p class = "table">Can of Tuna</p> </td>
            <td> <p class = "table1"> {{eCost}} </p></td>
            <td><input type='number' id = 'eInput' class = 'amount' ng-model = "drugCoste"></td>
            <td><button class = 'amount1' ng-click = "Buye()" > Buy </button></td>
            <td><button class = 'amount1' ng-click = "Selle()" > Sell</button></td>
            <td> <p class = "table2">You have <span class="classDrug">{{dataExes.amount}}</span> {{drugCounte.drug}}s </p></td>
          </tr>
          <tr>
            <td> <p class = "table">Laser Pointer</p></td>
            <td> <p class = "table1">{{yCost}} </p></td>
            <td><input type='number' id = 'yInput' class = 'amount' ng-model = "drugCosty"></td>
            <td><button class = 'amount1' ng-click = "Buyy()" > Buy </button></td>
            <td><button class = 'amount1' ng-click = "Selly()" > Sell</button></td>
            <td> <p class = "table2">You have <span class="classDrug"> {{dataMeff.amount}}</span>  {{drugCounty.drug}}s </p></td>
          </tr>
        </table>
      <div> 
      </div>
      </div> 
    </div>
    <div ng-show = "upgrades">
      <img class = "backgroundImg" src="http://www.catster.com/files/cat-tibbs.png">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
      <table width = '100%' class="upgrades">
        <tr>
          <td class = "upG"> <h3> Agility Training</h3></td>
          <td class = "upG"> <h3> $1,500 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> Your schemes will be much easier with a little more speed. </h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "pistolPurchase()"><p>buy</p></button></td>
        </tr>
        <tr>
          <td class = "upG"> <h3> Super Feline Serum</h3></td>
          <td class = "upG"> <h3>$4000 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> We'll even throw in a cape. You can do almost anything.</h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "akPurchase()"><p>buy</p></button></td>
        </tr>
        <tr>
          <td class = "upG"> <h3> Greyhound Saddle</h3></td>
          <td class = "upG"> <h3> $5,000 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> Travel with speed and style on a race dog. </h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "carBuy()"><p>buy </p></button></td>
        </tr>
        <tr>
          <td class = "upG"> <h3> Car Seat</h3></td>
          <td class = "upG"> <h3> $10,000 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> Make your own travel plans. </h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "planeBuy()"><p>buy</p></button></td>
        </tr>
      </table>
        </div>
      </div>
    </div>
        <div>
                  
                  <div class="row">
                    <div class="col-md-3 col-md-offset-5" ng-show = "Return">
                      <button id = "return" ng-click = "goBack()" class = "return"> <p> Back to the main menu? </p></button>
                      <button id = "return" ng-click = "goBack()" class = "return"> Back to the main menu?</button>

                    </div>
                  </div>

          </div> 
          </div>
        </div>
    </body>
</html>