<!doctype html>
<html ng-app = "app">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kitty Wars</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="author" href="humans.txt">
        <link rel="stylesheet" type="text/css" href="css/kittyWars.scss">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
        <script src="https://cdn.firebase.com/js/simple-login/1.6.4/firebase-simple-login.js"></script>
        <script src="js/kittyAngular.js"> </script>
    </head>
    <body ng-controller = "moneyCtrl">
        <div class="container-fluid">
          <div class="top">
          <div class="row">
            <div class="col-md-3">
            <div ="travelTimer" ng-show = "travelTimer"><h4> You haz <span> {{TravelTimerSaved.amount}}</span> seconds until you can travel. </h4> </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div><h1>Welcome to Kitty Wars</h1>
                  <h3 class = "subtitle" ng-show = "open"> Feel free to travel.</h3>
                  <h3 class = "subtitle" ng-show = "Tokyo">You have traveled to Tabbyhassee</h3>
                  <h3 class = "subtitle" ng-show = "London">You have traveled to Catlanta.</h3>
                  <h3 class = "subtitle" ng-show = "LA"> You have traveled to Meowscow.</h3>
                  <h3 class = "subtitle" ng-show = "NY"> You have traveled to Purrlin.</h3>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
              <div id="moneyTotal"> <h4> You haz <span>{{moneyFire.total}}</span> cheezburgers. </h4>
                </div>
            </div>
            </div>
          </div>
          <div class = "main" ng-model = "Main" ng-show= "Main" ng-class = "TravelLocation.place">
          <div class="side">
          <div class="row">
            <div class="col-md-2">
                <button id="crimes" class = "buttons" ng-click="Crime = !Crime; Main = !Main; Return = !Return" ng-disabled = "JailTimer.amount>0"> <h3>Schemes</h3> </button>
                </div>
                <div class="col-md-8">
              <div class="jailStuff" ng-show = "JailTimer.amount>0" > <h3> You can continue playing in <span> {{JailTimer.amount}}</span>  seconds</h3></div>
                
              </div>
                </div>
                
                 <div class="row">
                <div class="col-md-2">

                <button id="travel" class = "buttons" ng-click = "travel = !travel; Main = !Main; Return = !Return" ng-disabled = "JailTimer.amount>0"> <h3>Travel</h3> </button>

                </div>
                </div>

                <div class="row">
                <div class="col-md-2">
                <button id="trade" class = "buttons" ng-click = "trade(classWoo); Trade" ng-disabled = "JailTimer.amount>0"> <h3> Trade</h3> </button>
                </div>
                </div>

                <div class="row">
                <div class="col-md-2">
                <button id="trade" class = "buttons" ng-click = "UpgradeSwitch()" ng-disabled = "JailTimer.amount>0"> <h3> Upgrades</h3> </button>
              </div>
            </div>
            </div>
            </div>
            </div>
          </div>
          <div class="contain" ng-model = "Crime" >
          <div class='crimeStuff' ng-show = "Crime">
          <div class='row'>
            <div class='col-md-6 col-md-offset-2'>
               <div class = 'crime'> 
                <h3> You see a large amount of yarn. In the middle this yarn, you just know there's something valuable inside this yarn, and there are no people around... just the family dog.</h3> 
              </div>
              </div>
              <div class='col-md-2'>
                <button id = 'petty' class = 'radAnswer' ng-click = "petty()" ng-disabled ="crimeSecondsBeforeExpire > 0"> Unravel the yarn to your heart's content and claim your prize! </button>
              </div>
              </div>
              <div class='row'>
            <div class='col-md-6 col-md-offset-2'>
             <div class = 'crime'> 
                <h3>The milkman left his door wide opened...</h3>
              </div>
             </div>
              <div class='col-md-2'>
                <button id = 'middle' class = 'radAnswer' ng-click = "middle()" ng-disabled ="crimeSecondsBeforeExpire > 0"> FREE MILK!!! </button>
              </div>
              </div>
              <div class='row'>
            <div class='col-md-6 col-md-offset-2'>
              <div class = 'crime'>
                <h3>You see a plump rat running around outside. It's close to the dog house, but that would fetch a pretty penny. </h3>
              </div>
             </div>

              <div class='col-md-2'>
                <button id = 'high' class = 'radAnswer' ng-click = "high()" ng-disabled ="crimeSecondsBeforeExpire > 0"> I know I'm quick enough..</button> 
              </div>
              </div>
              <div class='row'>
            <div class='col-md-6 col-md-offset-2'>
            <div class = 'crime'> 
                <h3> The neighbor's canary got out and is just sitting on top of the roof. Taking care of it will make you a hero!</h3> 
              </div>
            </div>

              <div class='col-md-2'>
              <button id= 'most' class = 'radAnswer' ng-click = "most()" ng-disabled ="crimeSecondsBeforeExpire > 0"> Go time.</button>
              </div>
              </div>
              </div>


        <div>
          <div class='row, crimeResult' ng-show= "pettyWins">
            <div class='col-md-4 col-md-offset-4'>
              <div ng-model= "pettyWins" > <p> You were succesful in your endevour. You earned  {{win}}  cheezburgers! You now have {{moneyFire.total}}  cheezburgers to spend! </p></div>
            </div>
          </div>
        </div>
      
        <div class="jail" ng-model = "jail" ng-show= "jail0">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <h3 ng-show = "pettyFail" class = "failWords"> You were slightly too vigorous in your yarn extraction project. You've tied yourself up. </h3>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "JailTimer.amount > 0"> Unravel yourself.  </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <h5> You have <span>{{JailTimer.amount}}></span> seconds until you are free.</h5> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> Tempt the famiily dog with your cheezburgers. Maybe he'll help you.</button>
          </div>
          <div class="bribeResult"> <h3 ng-show = "bribeNo"> You don't have enough cheezburgers for that!</h3>
          </div>
          </div>
        </div>
        </div>
        <div class="jail" ng-model = "jail" ng-show= "jail1">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <h3 ng-show = "pettyFail1" class = "failWords"> The milkman didn't see you in his car. You're trapped in the milk truck. </h3>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"> Get out of the truck on the next delivery.  </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <h5> You have <span >{{JailTimer.amount}}</span> seconds until you are free.</h5> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> Bribe the driver for an early reprieve. </button>
          </div>
          <div class="bribeResult"> <h3 ng-show = "bribeNo"> You don't have enough cheezburgers for that! </h3>
          </div>
          </div>
        </div>
        </div>

        <div class="jail" ng-model = "jail" ng-show= "jail2">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <h3 ng-show = "pettyFail2" class = "failWords"> The dog house was inhabited by a bulldog. He's got you pinned up to the wall. You're not going anywhere.  </h3>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"> Submit to the dog, escape with your skin.  </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <h5> You have <span >{{JailTimer.amount}}</span> seconds until you are free.</h5> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> Try to trade some of your cheezburgers for your hide. </button>
          </div>
          <div class="bribeResult"> <h3 ng-show = "bribeNo"> You don't have enough cheezburgers for that! </h3>
          </div>
          </div>
        </div>
        </div>


        <div class="jail" ng-model = "jail" ng-show= "jail3">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" ng-model = "jailTimer">
              <h3 ng-show = "pettyFail3" class = "failWords"> Well.. the bird flew away.. as it's a bird. Also, you're trapped on the roof. Probably not going anywhere for a while..  </h3>
              <div ng-model = "jailRelease">
              <button id = "jailRelease" ng-model = "jailTimer" ng-click = "jailRelease || JailRelease()"  ng-disabled= "secondsBeforeExpire > 0"> Meow loud enough, get help.   </button>
              </div>
              <div id="jailTimer" ng-show = "jailTimer"> <h5> You have <span >{{JailTimer.amount}}</span> seconds until you are free.</h5> </div>
        
        <div class="bribeJail">
          <button id="bribeJail" ng-click = "bribe()"> Bribe the firetruck down the end for help. They look hungry... </button>
          </div>
          <div class="bribeResult"> <h3 ng-show = "bribeNo"> You don't have enough cheezburgers for that! </h3>
          </div>
          </div>
        </div>
        </div>

        </div>

        <div class='containTravel' ng-show = "travel">
          <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                <h3 class='cities'> Tabbyhassee</h3>
                </div>
                </div>
                <div class='col-md-2'>
              <button class = 'travelBtn' id='tokyo' ng-click = "changeClassTokyo()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button> 
            </div>
            </div>
            <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                 <h3 class='cities'> Catlanta</h3>
                </div>
                </div>
                <div class='col-md-2'>
              <button class = 'travelBtn' id='london' ng-click = "changeClassLondon()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button>
            </div>
            </div>
            <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                 <h3 class='cities'> Meowscow</h3>
              </div>
            </div>
            <div class='col-md-2'>
                <button class = 'travelBtn' id='losAngeles' ng-click = "changeClassLA()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-4 col-md-offset-3'>
              <div>
                 <h3 class='cities'> Purrtland</h3>
              </div>
            </div>
            <div class='col-md-2'>
              <button class = 'travelBtn' id='newYork' ng-click = "changeClassNY()" ng-disabled= "TravelTimerSaved.amount > 0"> Travel Here</button>
            </div>
          </div>
        </div>

        <div class="tradeContainer" ng-show = "Trade" ng-model = "Main">
      <div id="trade" ng-show = "Trade" >
        <table id = 'tokyo' width = '100%'>
          <tr>
            <td class = "upT"> <p class = "table"> Boxes </p></td>
            <td class = "upT"> <p class = "table1">{{mCost}} </p></td>
            <td class = "upT"> <input type='number'  id = 'mInput' class = 'amount' ng-model = "drugCostm"></td>
            <td class = "upT"><button ng-click = "Buym()" > Buy </button></td>
            <td class = "upT"><button ng-click = "Sellm()" > Sell</button></td>
            <td class = "upT"> <p class = "table">{{drugCountM.drug}} </p></td>
            <td class = "upT"> <p class = "tCount">{{dataM.amount}} </p> </td>
          </tr>
          <tr>
            <td class = "upT"> <p class = "table">Catnip </p></td>
            <td class = "upT"> <p class = "table1">{{cCost}} </p></td>
            <td class = "upT"><input type='number' id = 'cInput' class = 'amount' ng-model = "drugCostc"> </td>
            <td class = "upT"><button ng-click = "Buyc()" > Buy </button></td>
            <td class = "upT"><button ng-click = "Sellc()" ng-disabled = "drugCostc >= drugCountc.total" > Sell</button></td>
            <td class = "upT"> <p class = "table">{{drugCountc.drug}} </p></td>
            <td class = "upT"> <p class = "tCount">{{dataCoke.amount}}</p> </td>
          </tr>
          <tr>
            <td class = "upT"> <p class = "table"> Scratching Post </p></td>
            <td class = "upT1"><p class = "table1">{{hCost}} </p></td>
            <td class = "upT"> <input type='number' id = 'cInput' class = 'amount' ng-model = "drugCosth"></td>
            <td class = "upT"><button ng-click = "Buyh()" > Buy </button></td>
            <td class = "upT"><button ng-click = "Sellh()" > Sell</button></td>
            <td class = "upT"> <p class = "table">{{drugCounth.drug}} </p></td>
            <td class = "upT"> <p class = "tCount"> {{dataHer.amount}} </p></td>
          </tr>
          <tr>
            <td class = "upT"> <p class = "table">Can of Tuna</p> </td>
            <td class = "upT"> <p class = "table1"> {{eCost}} </p></td>
            <td class = "upT"><input type='number' id = 'eInput' class = 'amount' ng-model = "drugCoste"></td>
            <td class = "upT"><button ng-click = "Buye()" > Buy </button></td>
            <td class = "upT"><button ng-click = "Selle()" > Sell</button></td>
            <td class = "upT"> <p class = "table">{{drugCounte.drug}} </p></td>
            <td class = "upT"> <p class = "tCount">{{dataExes.amount}} </p></td>
          </tr>
          <tr>
            <td class = "upT"> <p class = "table">Laser Pointer</p></td>
            <td class = "upT"> <p class = "table1">{{yCost}} </p></td>
            <td  class = "upT"><input type='number' id = 'yInput' class = 'amount' ng-model = "drugCosty"></td>
            <td  class = "upT"><button ng-click = "Buyy()" > Buy </button></td>
            <td  class = "upT"><button ng-click = "Selly()" > Sell</button></td>
            <td  class = "upT"> <p class = "table">{{drugCounty.drug}} </p></td>
            <td class = "upT"> <p class = "tCount">{{dataMeff.amount}} </p> </td>
          </tr>
        </table>
      <div> 
      </div>
      </div> 
    </div>
    <div ng-show = "upgrades">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
      <table width = '100%' class="upgrades">
        <tr>
          <td class = "upG"> <h3> Agility Training</h3></td>
          <td class = "upG"> <h3> $1,500 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> Your schemes will be much easier with a little more speed. </h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "pistolPurchase()">buy</button></td>
        </tr>
        <tr>
          <td class = "upG"> <h3> Super Feline Serum</h3></td>
          <td class = "upG"> <h3>$4000 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> We'll even throw in a cape. You can do almost anything.</h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "akPurchase()">buy</button></td>
        </tr>
        <tr>
          <td class = "upG"> <h3> Greyhound Saddle</h3></td>
          <td class = "upG"> <h3> $5,000 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> Travel with speed and style on a race dog. </h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "carBuy()">buy</button></td>
        </tr>
        <tr>
          <td class = "upG"> <h3> Car Seat</h3></td>
          <td class = "upG"> <h3> $10,000 </h3></td>
          <td class = "upG"> <h5 class = "tableInfo"> Make your own travel plans. </h5></td>
          <td class = "upG"> <button class = "tableBtn" ng-click = "planeBuy()">buy</button></td>
        </tr>
      </table>
        </div>
      </div>
    </div>
        <div>
                  
                  <div class="row">
                    <div class="col-md-4 col-md-offset-5" ng-model = "Return" ng-show = "Return">
                      <button id = "return" ng-click = "goBack()"> Back to the main menu?</button>
                    </div>
                  </div>

          </div> 
        </div>
    </body>
</html>